
# Exclude typescript source and config
*.ts
tsconfig.json

# Include javascript files and typescript declarations
!*.js
!*.d.ts

# Exclude jsii outdir
src

# Include .jsii
!.jsii


# Exclude jsii outdir
generated
